.game_wrapper{
  margin-top: 20px;
  padding: 20px;
  border-top: 1px solid rgb(174, 213, 213);
}
.player{
  display: inline-block;
  vertical-align: top;
  width: 250px;
  margin: 10px;
  padding: 20px;
  border: 1px solid rgb(115, 116, 116);
  h3{
    display: inline;
  }
}

.card{
  height: 240px;
  width: 240px;
  border: 1px solid rgb(21, 32, 36);
}

.winner{
  background-color: green !important;
}

.winner_text{
  color: white;
}

.error{
  color: red;
}
