<html>
  <head>
    <title>Group Chat</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/javascript/main.js" charset="utf-8"></script>
  </head>
  <body>
    <div id="enter_info">
      <h3>Welcome to the Group Chat</h3>
      <h5>Please enter your name</h5>
      <p id="error"></p>
      <input id="new_name" type="text" name="" placeholder="Name" value="">
      <button id="submit_name" type="button" name="button">Join Chat</button>
    </div>

    <div id="chat_wrapper">
      <h3>Conversation Board</h3>
      <div id="members">
        <h5>Members</h5>
      </div>
      <div id="wall">
        <div id="chat_wall">
        </div>
        <span id="is_typing"></span>
        <input id="new_chat" type="text" name="new_chat" placeholder="Enter your message here" value="">
        <button id="submit_chat" type="button" name="button">Post</button>
      </div>
    </div>

  </body>
</html>
